:root {
  --blue: #73B5EE;
  --lightBlue: #B4DFE4;
  --lightRed: #FF6F76;
  --red: #FF604A;
  --purple: #7064BA;
}


* {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
}

button {
  cursor: pointer;
  background-color: var(--blue);
}

button:hover {
  filter:brightness(1.2)
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


#boats {
  position: absolute;
  left: 10px;
  top: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;

  padding: 15px;
  background-color: var(--lightBlue);
}

#boat-list {
  display: flex;
  flex-direction: column;
}


#modes {
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;

  padding: 15px;
  background-color: var(--lightBlue);
}

#modes-list {
  display: flex;
  flex-direction: column;
}

#controls {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--lightBlue);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
  width: 80vw;
}

#button-emulator {
  position: absolute;
  width: 180px;
  height: 100px;
  bottom: 120px;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index:1;
  border-radius: 10px;
}

#timeline {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--lightBlue);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
  width: 80vw;
}

#timeline-slider {
  width: 80%;
}


.boat-marker {
  background-color: rgba(0, 123, 255, 0.8);
  width: 20px;
  height: 30px;
  border-radius: 50% 50% 0 0;
  cursor: pointer;
}

.selected-boat {
  background-color: var(--lightRed)
}